.home-pic {
  max-height: 485px;
  position: relative;
  -webkit-transition: margin-top 0.2s;
  transition: margin-top 0.2s;
  background-position: 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}

#nav-container {
  background-color: maroon;
}

.nav-link {
  text-decoration: none;
  color: white;
}

/* Signup */

#signup-container {
  padding: 50px;
  /* width: 300px; */
}

/* Login Modal */

.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  /* margin-top: 10px; */
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  /* flex: 50%; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}

#about-us {
  font-family: Snell Roundhand, cursive;
  font-size: 52px;
  color: rgb(150, 149, 137);
  line-height: 1.4;
  text-align: center;
}

#line {
  width: 50px;
  margin-top: 24px;
}

.about-container {
  text-align: center;
}

.about-info {
  font-family: Quicksand, sans-serif;
}

.about-sub-header {
  font-weight: 200;
  font-size: 25px;
  color: rgb(27, 27, 27);
}

.sign-up-form {
  width: 400px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 20px;
  margin: 8% auto 0;
  text-align: center;
  font-family: sans-serif;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
}

.sign-up-form h1 {
  color: #1c8adb;
  margin-bottom: 30px;
}

.input-box {
  border-radius: 20px;
  padding: 10px 0;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #999;
  outline: none;
}

.sign-btn {
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #1c8adb;
}

.sign-in-btn {
  text-decoration: none;
}

#user-icon {
  width: 70px;
  margin-top: -50px;
  height: 2.8em;
  fill: rgb(116, 12, 12);
}

#fill-out-form {
  font-size: 15px;
  color: rgba(34, 34, 34, 0.664);
  font-family: sans-serif;
  text-align: center;
}
div.car-card {
  height: 340px;
  float: left;
  color: black;
  margin-right: 10px;
  margin-left: 20px;
  border: 2px solid black;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 5px;
  border-radius: 10px 10px 10px 10px;
  /* background-color: #adc5af; */
  margin-top: 60px;
  max-width: 365px;
  padding: 15px;
}

.car-pic {
  width: 300px;
}
